*{
    margin: 0;
    padding: 0;
    font-family: 'CustomFont', Arial, Helvetica, sans-serif;
   
}

@font-face {
    font-family: 'CustomFont'; /* The name you will use in CSS */
    src: url('./fonts/edosz.ttf') format('truetype'); /* Path to the .ttf file */
  }
  


/* -------------------------------------------------------- Home Page ------------------------------------------------------------------*/
html {
    scroll-behavior: smooth;
  }
  
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 100px;

}

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-top: -15px;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #FFDC34;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

html {
    scroll-behavior: smooth;
  }
  
  
/*-------------------------------------------------- Footer ------------------------------------------------------*/
.wrap-footer-info[_ngcontent-xno-c31] {
    padding: 2em 3vw;
    line-height: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.con-info[_ngcontent-xno-c31] {
    display: flex;
    justify-content: space-around;
    column-gap: 2rem;
}

.con-info[_ngcontent-xno-c31] > img[_ngcontent-xno-c31] {
    width: 6rem;
    align-self: center;
}


ol, ul {
    list-style: none;
}

.con-sns[_ngcontent-xno-c31] ul[_ngcontent-xno-c31] {
    display: flex;
    justify-content: space-around;
    column-gap: 1rem;
    cursor: pointer;
}

footer[_ngcontent-xno-c31] {
    background-color: #3954A6;
    width: 100%;
    color: #fff;
    font-size: .87rem;
}
footer{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin-top: 50px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
