.subheader5 {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(22, 38, 100, 0.67), rgba(16, 38, 124, 0.119)), url(/images/join/IMG_5580.JPG);
    background-position-y: 70%;
    background-size: cover;
    text-align: center;
    color: #FFDC34;
    text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.492);
}

.subheader5 h1{
    margin-top: 50px;
}

.join_ksea{
    position:relative;
    padding: 10% 10%; 
}

.join_ksea img{
    width:100%;
    margin-bottom: 30px;
}

.click_1{
    position:relative;
    margin-top: 40px;
    text-align: center;
    font-size: 21px;
}

.join_ksea h1{
    color: #2E3192;
    font-size: 28px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.492);
    margin-bottom: 50px;
}

.join_ksea p{
    white-space: normal; 
    width:100%;
    margin-bottom: 2%;
    margin-top: 5%;
    font-size: 18px;
}

.click_2{
    position:relative;
    margin-top: 0%;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10%;
}

.click_1 a,
.click_2 a {
    color: #2E3192; 
}

.click_1 a span,
.click_2 a span {
    display: inline; 
}
.click_1 a:hover span,
.click_2 a:hover span{
    color:#FFDC34;
    text-decoration: underline;
}